.banner-img{
  height: 40rem;
}

.sofa-imgs{
  height: 30rem;
}

.noto{
  font-family: 'Noto Serif', serif;
}

.quick{
  font-family: 'Quicksand', sans-serif;
}
@media screen and (min-width: 800px){
  .text-big{
    font-size: 10rem !important;
  }
  .title-big{
    font-size: 5rem !important;
  }
}
.text-big{
  font-size: 3rem;
}

.title-big{
  font-size: 3rem;;
}